
#include <iostream>
using namespace std;


void Guess(int i, int l) {
	while (i != l) { 
		
		if (i > l) {
			cout << "Number is bigger than " << l << endl;
			cin >> l;
		}
		if (i < l) {
			cout << "Number is smaller than " << l << endl;
			cin >> l;
		}
		while (i == l) {
			cout << "Congrats" << endl;
			break;// if you not write this it will be overloop 

		}

	}

}
int main()
{
	cout << "Guess my number , what is it?" << endl;
	int i, l;
	i= rand()  ;
	cin >> l ;
	Guess(i, l);// BURADA I VE L DEGERLERINI FONKSIYONA GONDERIYORUZ

	
}
